/* container */

@media (min-width: 1200px) {
  .container {
    max-width: 1020px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1120px;
  }
}

@media (min-width: 1366px) {
  .container {
    max-width: 1220px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1420px;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 1520px;
  }
}

/* container */

@media screen and (max-width: 1799px) {
  .nav-links-container {
    gap: 18px;
  }

  .coordinatior-card-container .row {
    gap: 6px;
  }

  .pricing-plans-card {
    min-width: 444px;
  }
}

@media screen and (max-width: 1679px) {
}

@media screen and (max-width: 1599px) {
  :root {
    --header-height: 100px;
    --text-rg: 14px;
    --text-lg: 18px;
    --text-xl: 22px;
    --text-2xl: 26px;
    --text-3xl: 48px;
    --text-4xl: 68px;
  }

  .nav-logo {
    width: 180px;
  }

  .nav-link {
    min-width: 112px;
  }

  .nav-links-container {
    gap: 12px;
  }

  .btn-dark .text {
    margin: 0 12px;
  }

  .btn-dark {
    height: 50px;
  }

  .btn-dark .arrow {
    padding: 8px;
  }

  .btn-light .text {
    margin: 0 12px;
  }

  .btn-light {
    height: 56px;
  }
  .btn-light .arrow {
    padding: 14px;
  }

  .hero-active-user-images img {
    width: 60px;
  }

  .pricing-plans-card {
    min-width: 412px;
  }

  .footer-link-list {
    gap: 36px;
  }

  .pricing-plan-btn {
    margin-top: 46px;
  }

  .footer-logo-container {
    max-width: 350px;
  }
}

@media screen and (max-width: 1439px) {
  :root {
    --text-rg: 12px;
    --text-lg: 16px;
    --text-xl: 20px;
    --text-2xl: 22px;
    --text-3xl: 44px;
    --text-4xl: 62px;
  }

  .nav-link {
    min-width: 100px;
  }

  .nav-link {
    padding: 8px;
  }

  .hero-heading-container h1 img {
    width: 78px;
  }

  .features-container {
    margin-top: calc(168px + var(--space-xl));
  }

  .works-container {
    max-height: 612px;
  }

  .built-image-container {
    right: 0;
  }

  .built-image-container img {
    width: 90%;
  }

  .built-emergency-call {
    width: 224px;
    height: 60px;
  }

  .built-emergency-call .phone {
    width: 52px;
    height: 52px;
  }

  .client-says-card-description-container .description {
    margin-bottom: 52px;
  }

  .client-says-card img {
    width: 300px;
  }

  .client-says-card-description-container {
    padding: 52px 0 52px 52px;
  }

  .client-says-container {
    padding-bottom: 56px;
  }

  .form-switch .form-check-input {
    height: 38px;
    width: 68px;
  }

  .pricing-plans-card {
    min-width: 362px;
  }

  .pricing-plan-btn .arrow {
    width: 42px;
    height: 42px;
  }

  .pricing-plans-card .plan-price-container {
    padding: 28px 40px;
  }
}

@media screen and (max-width: 1365px) {
  :root {
    --header-height: 92px;
    --space-md: 60px;
    --space-lg: 80px;
    --space-xl: 100px;
    --space-2xl: 120px;
    --space-3xl: 140px;
    --space-4xl: 200px;
  }

  .nav-logo {
    width: 162px;
  }

  .coordinator-card {
    padding: 40px 40px 40px;
  }

  .coordinator-card .icon {
    margin-bottom: 32px;
  }

  .works-heading-container p {
    max-width: 524px;
  }

  .works-image .play-btn svg {
    width: 68px;
  }

  .works-image {
    width: 90%;
    margin-inline: auto;
  }

  .works-container .works-image {
    margin-top: 42px;
  }

  .features-heading {
    max-width: 782px;
  }

  .built-image-container img {
    width: 80%;
  }

  .built-image-container {
    right: 0;
    bottom: 0;
  }

  .built-info-container {
    max-width: 688px;
  }

  .footer-link-list {
    gap: 24px;
  }

  .footer-contact-us img {
    width: 20px;
  }

  .footer-social-platforms .media-logo {
    font-size: 18px;
  }

  .footer-social-platforms li {
    height: 48px;
    width: 48px;
  }
}

@media screen and (max-width: 1279px) {
  :root {
    --text-rg: 12px;
    --text-lg: 14px;
    --text-xl: 18px;
    --text-2xl: 20px;
    --text-3xl: 36px;
    --text-4xl: 54px;
  }

  .btn-dark {
    height: 44px;
  }

  .btn-dark .text {
    margin: 0 8px;
  }

  .hero-heading-container h1 img {
    width: 68px;
  }

  .btn-light {
    height: 48px;
  }

  .btn-light .arrow {
    padding: 10px;
  }

  .btn-light .text {
    margin: 0 8px;
  }

  .hero-active-user-images img {
    width: 48px;
  }

  .coordinator-card .icon svg {
    width: 42px;
  }

  .coordinatior-card-container .row {
    column-gap: 44px;
  }

  .coordinator-card .icon {
    margin-bottom: 18px;
  }

  .works-container {
    max-height: 508px;
  }

  .features-card-container {
    margin-top: 48px;
  }

  .features-swiper-btn .prev-btn,
  .features-swiper-btn .next-btn {
    width: 48px;
    height: 48px;
  }

  .features-card {
    height: initial;
    padding: 36px 28px;
  }

  .features-card .icon {
    margin-bottom: 24px;
  }

  .built-info-container {
    max-width: 578px;
  }

  .built-emergency-call {
    width: 206px;
    height: 56px;
  }

  .built-emergency-call .phone {
    width: 48px;
    height: 48px;
  }

  .client-says-swiper-btn .prev-btn,
  .client-says-swiper-btn .next-btn {
    width: 48px;
    height: 48px;
  }

  .client-says-card img {
    width: 274px;
  }

  .client-says-card-description-container {
    padding: 52px 0 52px 52px;
  }

  .client-says-card-description-container .description {
    margin-bottom: 44px;
  }

  .pricing-plans-card .plan-price-container {
    padding: 28px 28px;
  }

  .pricing-plans-card .details-container {
    padding: 28px;
  }

  .footer-logo-container {
    max-width: 288px;
  }

  .footer-logo {
    max-width: 148px;
  }

  .footer-input-send {
    width: 44px;
    height: 44px;
  }

  .footer-logo-container input {
    padding: 14px 70px 14px 24px;
  }
}

@media (min-width: 768px) and (min-height: 1024px) and (max-width: 1024px) and (max-height: 1368px){
  .hero-section {
    height: 60vh;
  }
}
@media screen and (max-width: 1199px) {
  :root {
    --header-height: 82px;
    --text-rg: 12px;
    --text-lg: 14px;
    --text-xl: 16px;
    --text-2xl: 18px;
    --text-3xl: 32px;
    --text-4xl: 54px;
  }

  .nav-logo {
    width: 142px;
  }

  .nav-links-toggle.active {
    right: 0;
  }

  .nav-links-toggle {
    background-color: var(--primary);
    position: absolute;
    top: 100%;
    height: 100vh;
    width: 22%;
    min-width: 150px;
    right: -300px;
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    z-index: 1001;
  }

  .nav-links-container {
    border: none;
    width: 90%;
  }

  .nav-link {
    padding: 12px;
  }

  .hero-heading-container h1 img {
    width: 58px;
  }

  .hero-ambulance {
    opacity: 10%;
  }

  .hero-active-user-container {
    margin-top: 52px;
  }

  .coordinator-card .icon svg {
    width: 38px;
  }

  .coordinator-card .icon {
    margin-bottom: 12px;
  }

  .works-heading-container p {
    max-width: 486px;
  }

  .works-container {
    max-height: 448px;
  }

  .works-image .play-btn svg {
    width: 58px;
  }

  .features-heading {
    max-width: 714px;
  }

  .features-swiper-btn .prev-btn,
  .features-swiper-btn .next-btn {
    width: 42px;
    height: 42px;
  }

  .features-card {
    padding: 24px 28px;
  }

  .client-says-swiper-btn .prev-btn,
  .client-says-swiper-btn .next-btn {
    width: 42px;
    height: 42px;
  }

  .client-says-card-description-container {
    padding: 34px 0 34px 40px;
  }

  .client-says-card img {
    width: 228px;
  }

  .client-says-card-description-container .description {
    margin-bottom: 28px;
  }

  .pricing-plans-card .plan-price-container {
    padding: 24px 24px;
  }

  .pricing-plans-card .details-container {
    padding: 24px;
  }

  .pricing-plan-btn {
    margin-top: 38px;
  }

  .pricing-plan-btn .arrow {
    width: 38px;
    height: 38px;
  }
}
@media screen and (max-width: 991px) {
  .coordinatior-card-container .row {
    column-gap: 8px;
  }

  .coordinator-card {
    max-width: 302px;
    padding: 28px;
  }

  .features-heading {
    max-width: 100%;
  }

  .works-heading-container h2 {
    max-width: 100%;
  }

  .works-heading-container p {
    margin-inline: auto;
    max-width: 100%;
  }

  .works-container .container {
    padding-top: 44px;
  }

  .built-mission-vision img {
    width: 44px;
    height: 44px;
  }

  .pricing-plans-card {
    min-width: 324px;
  }

  .footer-logo-container {
    max-width: 252px;
  }
}
@media screen and (max-width: 767px) {
  :root {
    --text-4xl: 46px;
  }
  .coordinator-card {
    max-width: 100%;
  }

  .works-container .works-image img {
    border-radius: 24px;
}

  .works-container {
    max-height: 362px;
  }

  .works-image {
    width: 100%;
  }

  .works-container .works-image {
    margin-top: 20px;
  }
  .features-container {
    margin-top: calc(112px + var(--space-xl));
  }

  .client-says-card img {
    width: 163px;
  }

  .client-says-card-description-container {
    padding: 8px 0 8px 18px;
  }

  .footer-logo-container {
    max-width: 100%;
    width: 84%;
  }
}
@media screen and (max-width: 575px) {
  :root {
    --text-2xl: 16px;
    --text-3xl: 24px;
    --text-4xl: 34px;
  }

  .nav-logo {
    width: 112px;
  }

  .btn-dark {
    height: 38px;
  }

  .btn-dark .arrow {
    padding: 4px;
  }

  .btn-dark .text {
    margin: 0 4px;
  }

  .features-container {
    margin-top: calc(44px + var(--space-xl));
  }

  .client-says-card-description-container {
    padding: 18px 0 8px 18px;
  }
}

@media screen and (max-width: 399px) {
  .pricing-plans-card {
    min-width: 288px;
  }

  .coordinatior-card-container {
    padding: 18px 12px 0;
  }
}
@media screen and (max-width: 349px) {
  :root {
    --text-4xl: 30px;
  }

  section,
  header,
  footer {
    padding-left: 4px;
    padding-right: 4px;
  }

  .coordinator-card {
    max-width: 100%;
  }
}
