* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("/asstes/font/Montserrat-Light.woff2") format("woff2"),
    url("/asstes/font/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/asstes/font/Montserrat-Regular.woff2") format("woff2"),
    url("/asstes/font/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/asstes/font/Montserrat-Medium.woff2") format("woff2"),
    url("/asstes/font/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/asstes/font/Montserrat-SemiBold.woff2") format("woff2"),
    url("/asstes/font/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/asstes/font/Montserrat-Bold.woff2") format("woff2"),
    url("/asstes/font/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/asstes/font/Montserrat-ExtraBold.woff2") format("woff2"),
    url("/asstes/font/Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* variables */
:root {
  scroll-behavior: smooth;

  --primary: rgba(23, 28, 50, 1);
  --accent: rgba(103, 88, 194, 1);
  --white: white;
  --black: #000;
  --red: rgba(209, 41, 62, 1);
  --light-gray: rgba(227, 227, 230, 1);
  --gray: rgba(104, 107, 122, 1);
  --green: rgba(11, 214, 55, 1);
  --off-white:rgba(255, 255, 255, 0.6);
  

  --font-primary: "Montserrat";

  --header-height: 120px;

  --text-sm: 14px;
  --text-rg: 16px;
  --text-lg: 20px;
  --text-xl: 24px;
  --text-2xl: 28px;
  --text-3xl: 56px;
  --text-4xl: 80px;

  --space-md: 60px;
  --space-lg: 100px;
  --space-xl: 120px;
  --space-2xl: 140px;
  --space-3xl: 160px;
  --space-4xl: 200px;

  --container: calc(100% - 20px);
}

/* utility-classes */

body {
  font-family: var(--font-primary);
  background-color: var(--white);
  color: var(--black);
  font-size: 16px;
  line-height: 1.2;
}

.container {
  max-width: var(--container);
  padding: 0 12px;
  width: 100%;
  margin: 0 auto;
}

.text-sm {
  font-size: var(--text-sm);
}

.text-rg {
  font-size: var(--text-rg);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-xl {
  font-size: var(--text-xl);
}

.text-2xl {
  font-size: var(--text-2xl);
}

.text-3xl {
  font-size: var(--text-3xl);
}

.text-4xl {
  font-size: var(--text-4xl);
}

.obj-cover {
  object-fit: cover;
}

.obj-contain {
  object-fit: contain;
}

.text-accent {
  color: var(--accent);
}
.text-primary {
  color: var(--primary);
}
.text-white {
  color: var(--white);
}
.text-black {
  color: var(--black);
}
.text-gray {
  color: var(--gray);
}
.text-green {
  color: var(--green);
}
.text-off-white {
  color: var(--off-white);
}
.bg-accent {
  background-color: var(--accent);
}
.bg-primary {
  background-color: var(--primary);
}
.bg-white {
  background-color: var(--white);
}
.bg-black {
  background-color: var(--black);
}
.bg-dark {
  background-color: var(--dark);
}
.bg-gray {
  background-color: var(--gray);
}
.bg-transparent {
  background-color: transparent;
}

.space-md-t {
  margin-top: var(--space-md);
}
.space-md-b {
  margin-bottom: var(--space-md);
}
.space-lg-t {
  margin-top: var(--space-lg);
}
.space-lg-b {
  margin-bottom: var(--space-lg);
}
.space-xl-t {
  margin-top: var(--space-xl);
}
.space-xl-b {
  margin-bottom: var(--space-xl);
}
.space-2xl-t {
  margin-top: var(--space-2xl);
}
.space-2xl-b {
  margin-bottom: var(--space-2xl);
}
.space-3xl-t {
  margin-top: var(--space-3xl);
}
.space-3xl-b {
  margin-bottom: var(--space-3xl);
}
.space-4xl-t {
  margin-top: var(--space-4xl);
}
.space-4xl-b {
  margin-bottom: var(--space-4xl);
}

h1 {
  font-size: var(--text-4xl);
}

h2 {
  font-size: var(--text-3xl);
}
h3 {
  font-size: var(--text-xl);
}
h4 {
  font-size: var(--text-lg);
}
.line-ht-medium {
  line-height: 1.5;
}

.btn-dark {
  height: 60px;
  background-color: var(--primary);
  padding: 4px;
  color: var(--white);
  border: 1px solid rgba(47, 51, 71, 1);
  justify-content: space-between;
  display: flex;
  align-items: center;
  transition: 0.2s ease;
}

.btn-dark:hover {
  background-color: var(--accent);
}
.btn-dark:hover .arrow {
  background-color: var(--primary);
}

.btn-dark .text {
  text-align: center;
  margin: 0 28px;
  font-size: var(--text-lg);
  font-weight: 500;
}

.btn-dark .arrow {
  padding: 16px;
  background-color: var(--accent);
  border-radius: 50%;
  transition: 0.2s ease;
}
.btn-light {
  height: 60px;
  background-color: var(--accent);
  padding: 4px;
  color: var(--white);
  border: 1px solid rgba(47, 51, 71, 1);
  justify-content: space-between;
  display: flex;
  align-items: center;
  transition: 0.2s ease;
}

.btn-light:hover {
  background-color: var(--primary);
}
.btn-light:hover .arrow {
  background-color: var(--accent);
}

.btn-light .text {
  text-align: center;
  margin: 0 28px;
  font-size: var(--text-lg);
  font-weight: 500;
}

.btn-light .arrow {
  padding: 16px;
  background-color: var(--primary);
  border-radius: 50%;
  transition: 0.2s ease;
}

img {
  max-width: 100%;
  height: auto;
}

.heading {
  text-align: center;
  font-weight: 300;
}

section,
header,
footer {
  padding-left: 12px;
  padding-right: 12px;
}


section {
  scroll-margin-top: 200px;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

/* utility-classes */
/* header */
header {
  height: var(--header-height);
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 100;
}

.header.scrolled {
  background-color: var(--primary);
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-links-container {
  border: 1px solid rgba(47, 51, 71, 1);
  gap: 32px;
}

.nav-link {
  min-width: 130px;
  padding: 12px;
  color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1002;
}

.nav-link i {
  display: none;
  color: var(--white);
  font-size: 10px;
}

.nav-link:hover {
  background-color: var(--accent);
  color: var(--white);
}

.nav-links-container .active {
  background-color: var(--accent);
  color: var(--white);
}

.nav-links-container .active i {
  display: block;
}

.nav-links-bar-icon {
  display: none;
  color: white;
  transition: .2s linear;
}

.nav-links-bar-icon:hover{
  color: var(--accent);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000;
}

#overlay.active {
  display: block;
}

/* header */
/* section-1 hero-banner */
.hero-section {
  padding-top: var(--header-height);
  background-color: var(--primary);
  overflow: hidden;
  height: 100vh;
}

.hero-heading-container{
  z-index: 80;
}

.hero-active-user-container {
  margin-top: 80px;
}

.hero-active-user-images li {
  margin-right: -14px;
}

.hero-background {
  top: 0;
  right: 0;
  max-width: 30%;
}

.hero-ambulance {
  right: 0;
  bottom: 0;
  z-index: 10;
  max-width: 60%;
  min-width: 520px;
}

.hero-separator {
  position: absolute;
  bottom: -267px;
  left: 0;
  width: 100%;
  height: 300px;
  background: white;
  border-top: 24px solid red;
  transform: skew(0deg, -8deg);
  transform-origin: bottom left;
}

/* section-1 hero-banner */
/* section-2 Coordinator Solution */

.coorinator-description {
  max-width: 992px;
  margin: auto;
}

.coordinatior-card-container {
  border: 1px solid var(--light-gray);
  padding: 40px 40px 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: 48px;
}

.coordinatior-card-container .row {
  gap: 38px;
}

.coordinator-card {
  max-width: 330px;
  padding: 80px 40px 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
  transition: 0.2s linear;
}

.coordinator-card img {
  margin-bottom: 40px;
}

.coordinator-card p {
  color: var(--gray);
  transition: 0.2s linear;
}

.coordinator-card:hover {
  background-color: var(--accent);
  color: white;
}
.coordinator-card:hover p {
  color: white;
}

.icon {
  color: #000;
}

.coordinator-card .icon {
  margin-bottom: 40px;
}
.coordinator-card:hover .icon {
  color: white;
}

/* section-2 Coordinator Solution */
/* section-3  works for you */
.works-container {
  background-color: var(--primary);
  max-height: 740px;
}

.works-container .container {
  padding-top: 80px;
}

.works-heading-container h2 {
  max-width: 762px;
}

.works-heading-container p {
  max-width: 560px;
}

.works-container .works-image {
  margin-top: 48px;
}

.works-container .works-image img {
  border-radius: 40px;
}

.works-image .play-btn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.works-image .play-btn {
  color: white;
  transition: 0.2s ease;
}

.works-image .play-btn:hover {
  color: var(--accent);
}

/* section-3  works for you */
/* section-4 features */
.features-container {
  margin-top: calc(250px + var(--space-xl));
}

.features-heading {
  max-width: 992px;
}

.features-swiper-btn .prev-btn {
  width: 52px;
  height: 52px;
  border: 1px solid var(--light-gray);
  margin-right: 4px;
  transition: 0.2s ease;
}

.features-swiper-btn .prev-btn:hover {
  background-color: rgb(214, 213, 213);
}

.features-swiper-btn .next-btn {
  width: 52px;
  height: 52px;
  background-color: var(--accent);
  color: var(--white);
  transition: 0.2s ease;
}

.features-swiper-btn .next-btn:hover {
  background-color: rgb(73, 61, 144);
}

.features-card-container {
  border: 1px solid var(--light-gray);
  border-radius: 40px;
  margin-top: 86px;
}

.features-card {
  height: initial;
  padding: 48px 28px;
  cursor: pointer;
  transition: 0.2s linear;
  border-radius: 20px;
}

.features-card p {
  color: var(--gray);
  transition: 0.2s linear;
}

.features-card:hover {
  background-color: var(--accent);
  color: var(--white);
}

.features-card:hover p {
  color: var(--white);
}

.features-card .icon {
  margin-bottom: 28px;
}

.features-card:hover .icon {
  color: var(--white);
}
/* section-4 features */
/*  section-5 built */
.built-container{
  margin-bottom: 92px;
}
.built-info-container {
  max-width: 762px;
}
.built-description {
  max-width: 560px;
}

.built-mission-vision {
  margin-top: 40px;
}

.built-mission-vision img {
  width: 52px;
  height: 52px;
}

.built-list {
  margin-top: 40px;
}

.built-list li {
  display: flex;
  gap: 8px;
  align-items: center;
}

.built-emergency-call {
  width: 258px;
  height: 68px;
  background-color: rgba(209, 41, 62, 1);
  color: white;
  padding: 4px;
  transition: 0.2s ease;
  margin-top: 44px;
}

.built-emergency-call .phone {
  width: 60px;
  height: 60px;
  background-color: var(--white);
  color: red;
  transition: 0.2s ease;
}

.built-emergency-call:hover {
  background-color: rgb(176, 36, 52);
}

.built-emergency-call:hover .phone {
  color: rgb(176, 36, 52);
}

.built-image-container{
right: 5%;
}

.built-separator {
  position: absolute;
  bottom: -280px;
  left: 0;
  width: 100%;
  height: 300px;
  background: var(--primary);
  border-top: 20px solid red;
  transform: skew(0deg, -2deg);
  transform-origin: bottom left;
}
/*  section-5 built */
/*  section-6 client says */
.client-says-container {
  background-color: var(--primary);
  padding-bottom: 80px;
}

.client-says-swiper-btn .prev-btn {
  width: 52px;
  height: 52px;
  border: 1px solid rgba(47, 51, 71, 1);
  color: white;
  margin-right: 4px;
  transition: 0.2s ease;
  background-color: var(--primary);
}

.client-says-swiper-btn .prev-btn:hover {
  background-color: rgb(16, 20, 35);
}

.client-says-swiper-btn .next-btn {
  width: 52px;
  height: 52px;
  background-color: var(--accent);
  color: var(--white);
  transition: 0.2s ease;
}

.client-says-swiper-btn .next-btn:hover {
  background-color: rgb(73, 61, 144);
}

.client-says-card-description-container {
  padding: 80px 0 80px 80px;
}

.client-says-card-description-container .description {
  margin-bottom: 100px;
}
/*  section-6 client says */
/*  section-7 pricing plans */

.form-switch .form-check-input {
  height: 56px;
  width: 90px;
}

.form-check-input:checked {
  background-color: var(--accent);
  border-color: var(--accent);
}

.form-check-input:focus {
  border-color: var(--accent);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.pricing-plans-card {
  border: 1px solid var(--light-gray);
  border-radius: 40px;
  transition: 0.2s linear;
  min-width: 480px;
}

.pricing-plans-card .monthly-price {
  display: none;
}

.pricing-plans-card:hover {
  border: 1px solid var(--accent);
}

.pricing-plans-card .plan-price-container {
  border-bottom: 1px solid var(--light-gray);
  padding: 40px;
}

.pricing-plans-card .details-container {
  padding: 40px;
}

.pricing-plans-card .details li {
  display: flex;
  gap: 8px;
  color: var(--gray);
  transition: 0.2s linear;
  align-items: center;
}

.pricing-plans-card:hover li {
  color: var(--black);
}

.pricing-plan-btn {
  border: 1px solid var(--primary);
  margin-top: 80px;
  background-color: var(--white);
  transition: 0.2s linear;
}

.pricing-plans-card:hover .pricing-plan-btn {
  background-color: var(--accent);
  color: white;
  border: none;
}

.pricing-plan-btn .arrow {
  width: 52px;
  height: 52px;
  background-color: var(--accent);
  transition: 0.2s linear;
}

.pricing-plans-card:hover .arrow {
  background-color: var(--black);
}
/*  section-7 pricing plans */
/*  footer */
.footer {
  background-color: var(--primary);
}

.upper-footer-container {
  margin: 40px 0;
}

.footer-logo-container {
  max-width: 428px;
}

.footer-input-send {
  width: 52px;
  height: 52px;
  background-color: var(--accent);
  border: none;
  transition: 0.2s ease;
  top: 50%;
  transform: translateY(-50%);
  right: 2px;
}

.footer-input-send:hover {
  background-color: rgb(73, 61, 144);
}

.footer-logo-container input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.04);
  border: none;
  color: var(--white);
  padding: 18px 70px 18px 28px;
}

.footer-logo-container input:focus {
  outline: 2px solid var(--accent);
}

.footer-link-list{
  gap: 48px;
}

.footer-link-list a {
  color: var(--off-white);
  transition: 0.2s ease;
}

.footer-link-list a:hover {
  color: var(--accent);
}

.footer-contact-us li{
  display: flex;
  gap: 12px;
  align-items: center;
}

.footer-line{
max-width: 1000px;
border: 1px solid rgba(47, 51, 71, 1);
flex-grow: 1;
}

.footer-social-platforms li{
  height: 56px;
  width: 56px;
  background-color: var(--primary);
  border: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.footer-social-platforms .media-logo{
  color: var(--white);
  font-size: 24px;
}

.footer-social-platforms li:hover .media-logo{
  color: var(--accent);
}

/*  footer */
